*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEF3F4;
}

p{
    margin: 0;
}

.container{
    margin-top: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.mainCol{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
}

.item {
    padding: 20px;
    padding-bottom: 0;
    border: 1px solid #D2D6D7;
    border-radius: 2px;
    background-color: #FFFFFF;
    min-height: 300px;
}

.firstRow{
    margin-bottom: 8px;
}

#photo{
    border: 1px solid #A3ADB2;
}

.right{
    text-align: right
}

.arriving{
    font-size: 0.7em;
    text-align: center;
    border-radius: 2px;
    width: 85px;
    height: 15px;
    float: right;
    background-color: #FFDEA4;
}

.time{
    color: #3A444A;
    font-size: 1.5em;
}

.fontSet{
    font-size: 0.7em;
    color: #808E96;
}

.fontSet2{
    color: #3A444A;
}

.blue{
    color: #4ABAD3;
}

.row .fa-2 {
    padding-top: 3px;
    font-size: 1.3em;
    color: #4ABAD3;
}

.row .fa-3{
    color: #FFC000;
}

.positionSet{
    padding: 0;
    margin-left: 8px;
    height: 25px;
}

.positionSet2{
    padding-left: 23px; 
}

.wrapper{
    margin-left: 8px;
}

.section{
    margin-bottom: 12px;
}

progress{
    height: 5px;
    width: 115px;
}

.title{
    color: #3A444A;
    font-size: 1.1em;
    font-weight: bold;
}

.lineSpacing{
    line-height: 12px;
}

.nightsFont{
    font-size: 0.8em;
}


